*.pyc
*__pycache__*
*.pytest_cache*
*.egg-info
*.cache
{{*}}
*local.cfg*
*.ropeproject*
Pipfile
.idea
Pipfile.lock
.vscode/settings.json
.vscode/tags
.vscode/launch.json
*.code-workspace
*.log
/DUMP_IT
/.coverage
