# In order to install jper you need to run
# pip install -r requirements.txt
# (i.e. target this file with the -r switch on pip).

# --- IMPORTANT: If you update this file, you must also update the various ...\setup.py files & requirements_4_testing.txt

### Specifier meanings ###
# ~=: Compatible release clause
# ==: Version matching clause
# !=: Version exclusion clause
# <=, >=: Inclusive ordered comparison clause
# <, >: Exclusive ordered comparison clause
# ===: Arbitrary equality clause.
###

beautifulsoup4==4.14.3
blinker==1.9.0
# cachelib==0.13.0
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.3
colorama==0.4.6
cryptography==47.0.0
# dnspython==2.8.0
elastic-transport>=8.17,<9.0
elasticsearch>=8.18,<9.0
email_validator==2.3.0
Flask==3.1.3
Flask-Caching==2.4.0
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-WTF==1.3.0
gunicorn~=25.3
idna==3.13
iniconfig==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
lxml==6.1.0
MarkupSafe~=3.0
mysql-connector-python==9.6.0

packaging==26.2
parameterized==0.9.0
pluggy==1.6.0
protobuf==7.34.1
# pycparser==3.0
pyOpenSSL==26.1.0

python-dateutil==2.9.0.post0
# python-dotenv==1.2.2
requests==2.33.1

requests-toolbelt==1.0.0
schedule==1.2.2
setuptools==82.0.1
simplejson==4.1.1
six==1.17.0
soupsieve==2.8.3

Unidecode==1.4.0
urllib3==2.6.3
Werkzeug==3.1.8
WTForms==3.2.1
wtforms-html5==0.6.1


## Router library package dependencies ##

# install Jisc packages used by Router
-e ../Octopus/
-e ../sword2/
# now run the normal setup.py and get all the normal PyPI dependencies from there
-e .
python-sword2
octopus

