<p>For efficiency, redundant matching parameters are automatically removed: email addresses that end
    with any value in the domain column (e.g. john.smith@jisc.ac.uk would be removed if domain "jisc.ac.uk" is listed);
    name variants that include other name variants (e.g. "Jisc, Bristol" would be removed if "Jisc" is
    listed); sub-domains of other domains (e.g. "pubrouter.jisc.ac.uk" would be removed if
    "jisc.ac.uk" is listed).</p>
<p>Below, is a list of the redundant parameters removed during processing.</p>