<p>The duplicate submissions report shows duplicate submissions (by DOI) from publishers where at least 1 duplicate was routed to at least 1 live repository account within the past month.  (In order to capture duplicates that may have occurred close to the start or end of the month, the database is actually searched over a date range 7 days either side of the month.)</p>
<p>In the results, the metadata metrics strings comprise a bit_field value, followed by counts of attributes:
`<i>bit_field | authors | orcids | funders | funder-ids | grants | licenses | structured-affiliations | affiliation-ids</i>`.
Multiple metrics strings for a particular DOI indicates substantial metadata differences among the duplicates; whereas a single metrics string suggests minimal or no differences in metadata.</p>
<br/>
