<div>
<br>
<p>A user has successfully entered credentials for your YOUR-ORG Publications Router account.</p>
<p>Use this code, valid for 5 minutes, to access your account: <b>{{access_code}}</b>.</p>
<p>If you see: "Invalid access code" after entering the code, then you should repeat the login process.</p>
<p>If you were not expecting this email, please contact us at XXXX@YYYY.ac.uk, mentioning Publications Router in the email subject line.</p>
<br>
<p>Regards,</p>
<p><i>YOUR-ORG Publications Router login process</i><br></p>
</div>
