<div>
<br>
<p>YOUR-ORG Publications Router received a password reset request for your email address.</p>
<p>If you were not expecting this email, please contact us at XXXX@YYYY.ac.uk, mentioning Publications Router in the email subject line.</p>
<p>Use this link to reset your password: <a href="{{reset_url}}">Reset Your Password</a>, alternatively copy & paste the following URL into your browser: {{reset_url}}</p>
<p>IMPORTANT: if you see: "There was no valid reset token." after clicking the link, then you should request another reset link and when the new email arrives use the copy/paste option INSTEAD of the link.</p>
<br>
<p>Regards,</p>
<p><i>YOUR-ORG Publications Router password reset process</i><br></p>
</div>
