{% extends "base.html" %} 
{# Reset password page. Includes a simple password form to reset the password when we have a reset token. #}
{% block content %}

{% from "helpers/field_render.html" import render_field %}
<div class="row cms">
	{% if curr_org_is_super %}
		<h1>Reset password for {{account_username}}</h1>
	{% else %}
		<h1>Reset your password</h1>
	{% endif %}
	<p>Password must be at least 12 characters long, lower & upper case, with at least 1 digit & 1 symbol.</p>
	<div class="col span-12">
		<form method="post" action="{{reset_url}}" id="passwords">
			<fieldset class="form__fieldset">
				<ul class="form-fields">
					<li>
						{{render_field(form.password,'form__item','form__label')}}
					</li>
					<li>
						{{render_field(form.password_verify,'form__item','form__label')}}
					</li>
					<li>
						<span class="form__label"></span>
						<button class="btn btn--3d btn--primary small-gap-vert" id="register" type="submit">Reset password</button>&nbsp;&nbsp;
						<input type="button" class="btn btn--3d btn--primary" value="Cancel" onclick="history.back();">
					</li>
				</ul>
			</fieldset>
		</form>
	</div>
</div>
{% endblock %}

