{% extends "base.html" %} 
{% block content %}
<div class="row cms">
	<div class="col span-11">
		<div class="row cms">
			<h1>Accessibility statement for pubrouter.jisc.ac.uk</h1>
			<p>This statement applies to content published on&nbsp;<a href="http://pubrouter.jisc.ac.uk/">pubrouter.jisc.ac.uk</a>. </p>
			<p>This website is run by Jisc. It is designed to be used by as many people as possible. The text should be clear and simple to understand.&nbsp;You should be able to:</p>
			<ul>
				<li>Change colours, contrast levels and fonts</li>
				<li>Zoom in up to 300% without problems</li>
				<li>Navigate most of the website using just a keyboard</li>
				<li>Navigate most of the website using speech recognition software</li>
				<li>Use most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver).</li>
			</ul>
			<p>
				<a href="https://mcmw.abilitynet.org.uk/">AbilityNet</a>&nbsp;has advice on making your device easier to use if you have a disability.</p>
			<h2>How accessible is this website</h2>
			<p>This website is fully accessible.</p>
			<h2>How to request&nbsp;content in an accessible format</h2>
			<p>If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille contact us:</p>
			<ul>
				<li>email -&nbsp;<a href="mailto:XXXX@YYYY.ac.uk?subject=Publications%20Router%20-%20Accessibility%20request%20-">XXXX@YYYY.ac.uk</a></li>
				<li>call -&nbsp;<a href="tel:0300 3002212">0300 3002212</a></li>
				<li>or speak to&nbsp;<a href="https://www.jisc.ac.uk/contact/your-account-manager">your relationship manager</a>.</li>
			</ul>
			<p>We’ll consider your request and get back to you.</p>
			<h2>Reporting accessibility problems with this website</h2>
			<p>If you find any problems that aren’t listed on this page or think we’re not meeting the requirements of the accessibility regulations contact&nbsp;<a href="mailto:XXXX@YYYY.ac.uk?subject=Publications%20Router%20-%20Accessibility%20problem%20-">XXXX@YYYY.ac.uk</a>.</p>
			<h2>Enforcement procedure</h2>
			<p>If you contact us with a complaint and you're not happy with our response&nbsp;<a href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS)</a>
			</p>
			<p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).</p>
			<h2>Technical information about this website’s accessibility</h2>
			<p>Jisc is committed to making its websites accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
			<p>This website is compliant with the&nbsp;<a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1</a>&nbsp;AA standard, apart from any non-compliances listed below.</p>
			<h2>Non-accessible content</h2>
			<h3>Non-compliance with the accessibility regulations</h3>
			<p>None.</p>
			<h2>How we tested this website</h2>
			<p>The website is tested as part of the service's ongoing maintenance cycle using the WAVE plugin and builtin Lighthouse tool in the Chrome browser.</p>
			<h2>What we’re doing to improve accessibility</h2>
			<p>Whenever new features are released they go through our internal quality assurance checks and must meet WCAG 2.1 AA.</p>
			<p>This statement was last updated on 11 August 2025.</p>
			<br>
			<p class="note"><strong>Acknowledgement</strong><br>Content modified from the&nbsp;<a href="https://www.gov.uk/help/accessibility-statement">GOV.UK accessbility statement</a>&nbsp;- used through the&nbsp;<a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government Licence v3.0</a>.</p>
		</div>
	</div>
</div>

{% endblock %}
{% block extra_js_bottom %} {% endblock extra_js_bottom %}
