{% extends "base.html" %} 
{% block content %}
<div class="row cms">
	<div class="col span-11">
		<h1>About Publications Router</h1>
		<p>Publications Router is an alerting service that automatically sends notifications about research
			articles to institutions' systems such as their repositories or CRISs. These notifications indicate,
			for example, that an article has been accepted for publication or that it has been published.
			They often include the articles themselves in the version agreed by the publisher, or they may
			just consist of metadata.</p>
		<br>
		<h2>How it works</h2>
		<p>Publications Router examines the affiliations of each article's co-authors to determine the appropriate
			target repositories (or CRISs), and delivers a notification about it (and often also the article itself)
			to the appropriate registered repositories or CRISs.
		</p>
		<p><img src="/static/img_1.png" alt="Schematic showing the flow of notifications from a publisher through publications router to a repository or CRIS."></p>
		<br>
		<h2>How this helps</h2>
		<p>By automating this process, the Router reduces administrative effort at institutions, alerts them to more of
			their outputs than they might otherwise be aware of, and helps maximise each article's distribution and
			exposure. Importantly, it also helps institutions comply cost-effectively with the open access policies of
			research funding bodies, notably the policy on open access and the REF.</p>
		<article class="box--padding-medium box--brd-mgreyblue">
			<div class="box__inner">
				<p>It is no longer possible to join Publications Router. For reference, especially for existing users, we have retained information on getting started if you're an
					<a	href="{{ url_for('about.institutions') }}">institution</a> or
					<a href="{{ url_for('about.publishers') }}">publisher</a>.
				</p>
			</div>
		</article>
	</div>
</div>

{% endblock %}
{% block extra_js_bottom %}
{% endblock extra_js_bottom %}
