<!DOCTYPE html>
<html lang="en-gb">
<head>
   	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- The above 3 meta tags must come first in the head; any other head content must come after these tags. -->
    <meta content="on" http-equiv="cleartype">
    <title>{% block title %}{{ title }} - YOUR-ORG Publications Router{% endblock %}</title>
    <meta name="description" content="YOUR-ORG publications router">
    <link rel="shortcut icon" type="image/x-icon" href="/static/css/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    {# <link rel="stylesheet" href="/static/css/main.css"> #}
    <link rel="stylesheet" href="/static/css/main.min.css">

    {# *** JQuery *** #}
    <script type="text/javascript" src="/static/js/lib/jquery-3.7.0.min.js"></script>
    {# *** JQuery Migration plugin - highlights any migration issues *** #}
{#    <script src="https://code.jquery.com/jquery-migrate-3.4.1.js"></script> #}

    {# JQuery-UI #}
    <script defer type="text/javascript" src="/static/js/lib/jquery-ui.min.js"></script>
    <script defer type="text/javascript" src="/static/js/lib/ux.jisc-1.1.0.script-head.min.js"></script>
    {# <script defer type="text/javascript" src="/static/js/lib/oa.ux.jisc-1.1.0.script-foot.js"></script> #}
    <script defer type="text/javascript" src="/static/js/lib/oa.ux.jisc-1.1.0.script-foot.min.js"></script>

    {# Custom Scripts #}
    <script defer type="text/javascript" src="/static/js/navbar.js"></script>
    <script defer type="text/javascript" src="/static/js/utils.js"></script>
    <script defer type="text/javascript" src="/static/js/cookie-banner.js"></script>

    {% block extra_js_top %}
    {% endblock extra_js_top %}
</head>

{## VARIABLES USED IN (SOME) WEB PAGES ##}
{% set curr_user_is_anon = current_user.is_anonymous %}
{% if not curr_user_acc and not curr_user_is_anon %}
  {% set curr_user_acc = current_user.copy() %} {# Assign using .copy() for efficiency as current_user is a proxy #}
{% endif %}
{% set curr_user_org_acc = None if curr_user_is_anon else curr_user_acc.acc_org %}
{% set curr_org_is_super = not curr_user_is_anon and curr_user_org_acc.is_super %}
{% set curr_user_is_admin = not curr_user_is_anon and curr_user_acc.is_admin %}
{% set curr_user_is_not_readonly = not curr_user_is_anon and not curr_user_acc.is_read_only %}
{% set curr_org_uuid = None if curr_user_is_anon else curr_user_org_acc.uuid %}

<body class='body-bare'>
    <div id="cookie-container" class="cms">
        <div class="inner row">
            <div class="col span-8">
                <div>We use cookies to give you the best experience and to help improve our website</div>
            </div>
            <div class="col span-4">
                <button type="button" class="btn btn--rounded btn--outline" value="no" aria-label="Click to decline cookies">No thanks</button>
                <button type="button" class="btn btn--rounded" value="yes" aria-label="Click to accept cookies">That's fine</button>
            </div>
        </div>
        <div class="inner">
            <a class="text-link" href="{{url_for('website.cookies')}}">Find out more about how we use cookies</a>
        </div>
    </div>
    <!-- Go to Top is initially hidden -->
    <span id="top" class="hide"><a href="#top" class="float-btn float-btn-up" role="button" aria-label="Jump to top"><span class="float-icon up"></span></a></span>
    {% include 'header.html' %}
    <main id="main" role="main">
    <div class="inner l-pull-left featured">
        <div class="l-centre-offset">
            {% include "_flash.html" %}
            {% block content %}
            {% endblock %}
        </div>
    </div>
    {% include 'footer.html' %}
    </main>

    {% block extra_js_bottom %}
    {% endblock extra_js_bottom %}

    <script>
    {# If scroll_to ID value is specified, then scroll to that location #}
	{% if scroll_to %}
		document.getElementById('{{ scroll_to }}').scrollIntoView();
	{% endif %}
        const $window = $(window);

        /***  Show/hide "Go to Top" button  ***/
        const $top = $('#top');
        let showing = false;    // Use flag to prevent repeated unnecessary showing/hiding.
        $window.on("scroll", function(){
            if ($window.scrollTop() > 150){
                if (!showing) {
                    $top.removeClass("hide");
                    showing = true;
                }
            } else {
                if (showing) {
                    $top.addClass("hide");
                    showing = false;
                }
            }
        });

        /***  Code to make account name stick to top of screen  ***/
		const $stickyEl = $('#stickme');
		if ($stickyEl.length) {
            const stickyOffset = $stickyEl.offset().top;
            let stuck = false;	// Use flag to prevent repeated unnecessary adding/removing class.
            $window.on("scroll", function(){
              if ($window.scrollTop() >= stickyOffset) {
                if (!stuck){ $stickyEl.addClass('stickme'); stuck = true }
              } else {
                if (stuck){ $stickyEl.removeClass('stickme'); stuck = false }
              }
            });
        }
    </script>

</body>
</html>
