{# Click for more information accordion panel #}
<div class="title-accordion cms">
    <p>HTML tips</p>
    <br>
    <ul>
        <li>Headings:&nbsp; <code>&lt;h1&gt;…&lt;/h1&gt;</code>, <code>&lt;h2&gt;…&lt;/h2&gt;</code>, <code>&lt;h3&gt;…&lt;/h3&gt;</code>, <code>&lt;h4&gt;…&lt;/h4&gt;</code></li>
        <li>Paragraph:&nbsp; <code>&lt;p&gt;…&lt;/p&gt;</code></li>
        <li>Link:&nbsp; <code>&lt;a target="_blank" href="https://…"&gt;…Link text…&lt;/a&gt;</code> <i class="smaller">(NB. <strong>target="_blank"</strong> causes link to open in a new tab)</i></li>
        <li>Bullet list:&nbsp; <code>&lt;ul&gt; &lt;li&gt;…bullet-1…&lt;/li&gt; &lt;li&gt;…bullet-2…&lt;/li&gt; …&lt;/ul&gt;</code></li>
        <li>Bold:&nbsp; <code>&lt;strong&gt;…&lt;/strong&gt;</code> or <code>&lt;b&gt;…&lt;/b&gt;</code></li>
        <li>Italic:&nbsp; <code>&lt;i&gt;…&lt;/i&gt;</code></li>
        <li>Line break:&nbsp; <code>&lt;br&gt;</code></li>
        <li>Horizontal line:&nbsp; <code>&lt;hr&gt;</code></li>
    </ul>
    <p>For more help see: <a target="_blank" href="https://www.w3schools.com/html/">https://www.w3schools.com/html/"</a><span class="open-new"></span>.</p>
</div>
